#  Begining of Third Phase 

* I will do some visual analysis to understand the data well

# Import Libraries

In [1]:
# libraries for EDA
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import cufflinks as cf
#Enabling the offline mode for interactive plotting locally
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

init_notebook_mode(connected=True)
cf.go_offline()

#To display the plots
%matplotlib inline
from ipywidgets import interact
import plotly.io as pio

pio.renderers.default = "notebook"

# Ingest Data

In [2]:
birds_df = pd.read_csv("birds.csv")
birds_df.head()

,opid,operator,atype,remarks,phase_of_flt,ac_mass,num_engs,date,time_of_day,state,height,speed,effect,sky,species,birds_seen,birds_struck
0,AAL,AMERICAN AIRLINES,MD-80,NO DAMAGE,Descent,4.0,2.0,9/30/1990 0:00:00,Night,IL,7000.0,250.0,NaN,No Cloud,UNKNOWN BIRD - MEDIUM,NaN,1
1,USA,US AIRWAYS,FK-28-4000,"2 BIRDS, NO DAMAGE.",Climb,4.0,2.0,11/29/1993 0:00:00,Day,MD,10.0,140.0,None,No Cloud,UNKNOWN BIRD - MEDIUM,2-10,2-10
2,AAL,AMERICAN AIRLINES,B-727-200,NaN,Approach,4.0,3.0,8/13/1993 0:00:00,Day,TN,400.0,140.0,None,Some Cloud,UNKNOWN BIRD - SMALL,2-10,1
3,AAL,AMERICAN AIRLINES,MD-82,NaN,Climb,4.0,2.0,10/7/1993 0:00:00,Day,VA,100.0,200.0,None,Overcast,UNKNOWN BIRD - SMALL,NaN,1
4,AAL,AMERICAN AIRLINES,MD-82,NO DAMAGE,Climb,4.0,2.0,9/25/1993 0:00:00,Day,SC,50.0,170.0,None,Some Cloud,UNKNOWN BIRD - SMALL,2-10,1

In [3]:
birds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19302 entries, 0 to 19301
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   opid          19302 non-null  object
 1   operator      19302 non-null  object
 2   atype         19302 non-null  object
 3   remarks       16516 non-null  object
 4   phase_of_flt  17519 non-null  object
 5   ac_mass       18018 non-null  float64
 6   num_engs      17995 non-null  float64
 7   date          19302 non-null  object
 8   time_of_day   17225 non-null  object
 9   state         18431 non-null  object
 10  height        16109 non-null  float64
 11  speed         12294 non-null  float64
 12  effect        13584 non-null  object
 13  sky           15723 non-null  object
 14  species       19302 non-null  object
 15  birds_seen    4764 non-null   object
 16  birds_struck  19263 non-null  object
dtypes: float64(4), object(13)
memory usage: 2.5+ MB

In [4]:
df = pd.read_csv("ready_for_preprocessing.csv")
df.head()

,atype,phase_of_flt,state,height,speed,effect,sky,species,birds_struck,month_of_the_year,season
0,FK-28-4000,Climb,South Atlantic,10.0,140.0,None,No Cloud,UNKNOWN BIRD - MEDIUM,2-10,November,Fall
1,B-727-200,Approach,East South Central,400.0,140.0,None,Some Cloud,UNKNOWN BIRD - SMALL,1,August,Summer
2,MD-82,Climb,South Atlantic,100.0,200.0,None,Overcast,UNKNOWN BIRD - SMALL,1,October,Fall
3,MD-82,Climb,South Atlantic,50.0,170.0,None,Some Cloud,UNKNOWN BIRD - SMALL,1,September,Fall
4,BE-99,Landing Roll,South Atlantic,0.0,40.0,None,Some Cloud,HAWKS,1,September,Fall

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13116 entries, 0 to 13115
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   atype              13116 non-null  object
 1   phase_of_flt       13116 non-null  object
 2   state              13116 non-null  object
 3   height             13116 non-null  float64
 4   speed              13116 non-null  float64
 5   effect             13116 non-null  object
 6   sky                13116 non-null  object
 7   species            13116 non-null  object
 8   birds_struck       13116 non-null  object
 9   month_of_the_year  13116 non-null  object
 10  season             13116 non-null  object
dtypes: float64(2), object(9)
memory usage: 1.1+ MB

# Visual explore

* I will try to visulize my both ML ready data and original one

In [24]:
def column_boxer(col):
    birds_df[col].iplot("box")
cols = birds_df.columns    
interact(column_boxer,col = cols);

interactive(children=(Dropdown(description='col', options=('opid', 'operator', 'atype', 'remarks', 'phase_of_f…

In [19]:
def column_boxer(col):
    df[col].iplot("box")
cols = df.columns    
interact(column_boxer,col = cols);

interactive(children=(Dropdown(description='col', options=('atype', 'phase_of_flt', 'state', 'height', 'speed'…

* for the height we didn't change distrubution but our median slightly changed after filling missing values
* speed identical on both dataframe
* height have outliers

In [43]:
def column_histogram(col):
    fig = px.histogram(birds_df,x=col, color="effect")
    fig.show()
cols = birds_df.columns

interact(column_histogram,col=cols);

interactive(children=(Dropdown(description='col', options=('opid', 'operator', 'atype', 'remarks', 'phase_of_f…

In [42]:
def column_histogram(col):
    fig = px.histogram(df,x=col , color="effect")
    fig.show()
cols = df.columns
interact(column_histogram,col=cols);

interactive(children=(Dropdown(description='col', options=('atype', 'phase_of_flt', 'state', 'height', 'speed'…

* According to type of aircraft we can say engine shutdown happens mostly with multi engine aircrafts
* After useal commercial airline aircrafts such as 737 and 747, BA-31 jetstream has quite large amount of bird strike 
* Small birds have more strike frequency than other type of birds
* Gulls are the most cause of angine shut down
* Engine shut downs happened during climb at maximum and second one on the take of run. these are 2 critical phase of flight. so low level flaying birds usaally fly in that zones.
* Cloud formation gives us that insight "more cloud less bird strikes"
* I see most bird strikes happen in the South Atlantic, while the engine shutdown procedure takes place more in the Mid-Atlantic than in the South Atlantic
* Most strikes happen in three months of the year. These are August,September,October repectively
* In season-wise bird strikes occur at least in winter